.cursor-pointer {
  cursor: pointer;
}

.modal-wrapper {
  .modal-title{
    margin-bottom: 25px;
    display: flex;
    align-items: center;

    .title {
      font-size: large;
      font-weight: 600;
    }

    .message{
      font-size: small;
      font-weight: 600;
    }

    span {
          margin: 10px;
    }

    .text-wrapper{
      display: flex;
      flex-direction: column;
    }
  }

  button {
    margin-left: 25px;
    span {
      margin-left: 10px;
    }
  }

  .modal-footer {
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
  }
}

.ant-select-item-option-selected {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,173,252,1) 100%);
}

.ant-select-dropdown {
  background-color: rgb(226, 226, 226);
}

.ant-select-selector {
  background-color: white !important;
}

.warning-icon {
  color: #eab450;
  font-size: xxx-large;
}