body {
  min-height: 600px;
  min-width: 800px;
}

.home-layout {
  height: 100vh;
}

.ant-layout-sider {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,173,252,1) 100%);
}