.main-content-wrapper {
  margin: 5%;

  .todo-items-list{
    border-radius: 5px;
    background-color: #e2e2e2;
  }

  .list-item {
    padding: 0% 4%;
    height: 60px;
    font-size: large;

    div {
      font-size: large;
    }

    &:hover {
      background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,173,252,1) 100%);
      cursor: pointer;
    }
  }

  .add-more-icon {
    color: #4483fb;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }

  .todo-item-wrapper {
    display: flex;
    justify-content: space-between;

    .todo-action-btn {
      display: flex;
      align-items: center;

      .action-item {
        margin: 0 10px;
      }

      .action-item:hover {
        color: white;
      }
    }
  }
}