.main-content-wrapper {
  margin: 5%;

  .todo-items-list{
    border-radius: 5px;
    background-color: #e2e2e2;
    max-height: calc(100vh - 200px);
    overflow: scroll;

    .ant-radio-wrapper {
      margin-top: 6px;
    }

    .todo-completed {
      text-decoration: line-through;
      background-color: #ececec;
    }

    li {
      background-color: #c7c7c7;
    }
  }

  .list-item {
    padding: 0% 4%;
    height: 50px;
    // font-size: large;

    div {
      // font-size: large;
    }

    &:hover {
      background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,173,252,1) 100%);
      cursor: pointer;
    }
  }

  .add-more-icon {
    color: #4483fb;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
  }

  .todo-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .timer-wrapper {
      display: flex;
      align-items: center;

      button {
        padding: 2px 10px;
        height: 30px;
        width: 30px;
      }
    }

    .pomodoro-play-btn {
      color: rgb(1, 70, 173);
      font-size: 20px;
    }

    .todo-action-btn {
      display: flex;
      align-items: center;
      margin: 0 1%;

      .action-item {
        margin: 0 10px;
      }

      .action-item:hover {
        color: white;
      }
    }
  }

  .global-pomodoro {
    position: absolute;
    bottom: 3%;
    left: calc(50% + 50px);
    background: radial-gradient(circle, #3f5efb 0%, #46adfc 100%);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;

    .pomodoro-name{
      color: white;
      margin: 0 10px;
      font-weight: 700;
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .pomodoro-action {
      background-color: white;
      padding: 0 6px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.app-main-content {
  main {
    background-color: white;
  }
}