.sidebar-wrapper {
  .add-more-icon {
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  .sidebar-content-wrapper{
    margin: 0 10px;

    .list-item {
      cursor: pointer;
      padding-right: 10px;
      padding-left: 10px;
      div{
        color: white;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover {
        .item-remove{
          display: flex;
        }
        .item-count {
          display: none;
        }
      }
      
      .item-remove{
        padding-left: 5px;
        display: none;
      }
    }

    .item-count {
      color: white;
      border-radius: 25%;
      padding: 1px;
      font-weight: 600;
    }

    .selected-category {
      background-color: #0146ad;
    }

    .ant-list-items {
      max-height: calc(100vh - 200px);
      overflow: scroll;
    }
  }
}